@import "tailwindcss";

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
  background: #ffdec0;
  
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
  background: #201010;
  
  }


#root {
  --bgcolor: #FFF3DC;
}


body{
  background-color: var(--bgcolor);
  
  
}



