@import "tailwindcss";

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
  background: #ffdec0;
  
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
  background: #201010;
  border-radius: 8px;
  
  }


#root {
  --bgcolor: #FFF3DC;
}


body{
  background-color: var(--bgcolor);
  
  
}

.wave-section {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 85%,
    50% 100%,
    0% 85%
  );
}


