@import "tailwindcss";
@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";


/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
  background: #ffdec0;
    border-radius: 8px;
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
  background: #201010;
  border-radius: 8px;
  
  }


#root {
  --bgcolor: #FFF3DC;
    height: 100%;
}


body{
  background-color: var(--bgcolor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wave-section {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 85%,
    50% 100%,
    0% 85%
  );
}


